<%- include ../includes/header_script %>

<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <%- include ../includes/navbar %>

    <%- include ../includes/sidebar %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    
    <%- include ../includes/breadcrumb %>

        <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Create</h3>
              </div>
              <!-- /.card-header -->
              <%- include ../errorsuccessmessage %>
              <!-- form start -->
              <form role="form" action="" method="post" enctype="multipart/form-data">
                <div class="card-body">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" name="name" placeholder="Enter Name">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Description</label>
                    <textarea class="form-control" id="description" placeholder="Enter description" name="description"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="name">Status : </label>
                    <select name="status" class="form-control">
                      <option value="">Select Status</option>
                      <option value="0">Active</option>
                      <option value="1">Inactive</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="name">Image : </label>
                    <input type="file" name="filetoupload" class="form-control">
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
            <!-- /.card -->

          </div>
          <!--/.col (left) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  
  <%- include ../includes/footer %>

</div>
<!-- ./wrapper -->
<%- include ../includes/footer_script %>